#new-ticket {
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
}

.container {
  margin-top: 15%;
  margin-bottom: 15%;
  background-color: #99baef;
  padding: 5%;
}

body {
  text-align: center;
  background-image: url("https://4.bp.blogspot.com/-t8ClVesnZQ0/WQ4fxNeMPzI/AAAAAAAAUHA/Yv8cEVM7v48WxlOttbT8FVqMbkqNMJQrgCLcB/s1600/Cars%2B3%2BInternational%2Band%2BDomestic%2BPromo%2BPosters.png");
}
